<header class="page-head">

  <div class="wrapper">

    <nav class="site-nav">
      <div class="site-nav__item site-nav__item-menu">
        <div class="hamburger hamburger--toggle">
          <div class="hamburger-icon">
            <span class="hamburger-icon__line hamburger-icon__line-1"></span>
            <span class="hamburger-icon__line hamburger-icon__line-2"></span>
            <span class="hamburger-icon__line hamburger-icon__line-3"></span>
          </div>
        </div>
      </div>
      <div class="site-nav__item site-nav__item-icon">
        <div id="main-icon" class="slide-in">
          <div class="hide--xsm">
            <img src="{{site.baseurl}}/img/iconb.svg" />
          </div>
          <button>click here</button>
        </div>
      </div>
      <div class="site-nav__item site-nav__item-translate">
        {% if page.layout == "post" %}
        {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
        <ul class="site-nav__item-translate-container">
          {% for post in posts %}
          <li class="lang">
            <a href="{{ site.baseurl }}{{ post.url }}" class="{{ post.lang }}"><small>{{ post.lang }}</small></a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <a href="{{ site.baseurl }}{{site.t['fr'][page.uid].url}}">
          <small>fr</small>
        </a>
        |
        <a href="{{ site.baseurl }}{{site.t['en'][page.uid].url}}">
          <small>en</small>
        </a>
        {% endif %}

      </div>
    </nav>

  </div>

</header>
