<header class="page-head">

  <div class="wrapper">

    <nav class="site-nav">
      <div class="site-nav__item site-nav__item-menu">
        <div class="hamburger hamburger--toggle">
          <div class="hamburger-icon">
            <span class="hamburger-icon__line hamburger-icon__line-1"></span>
            <span class="hamburger-icon__line hamburger-icon__line-2"></span>
            <span class="hamburger-icon__line hamburger-icon__line-3"></span>
          </div>
        </div>
      </div>
      <div class="site-nav__item site-nav__item-menu">
        site-nav__logo
      </div>
      <div class="site-nav__item site-nav__item-menu">
        site-nav__translate
      </div>
    </nav>

  </div>

</header>
