<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}



  <div class="overlay-container">

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    <div class="menu-content">
      <div class="wrapper">
        <ul>
          <li>afa aef</li>
          <li>azer azer</li>
          <li>zer azer</li>
        </ul>
      </div>
    </div>

  </div>
  {% include footer.html %}

  {% include javascript.html %}

</body>

</html>
