<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}



  <div class="overlay-container">

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    <div class="menu-content">
      <div class="wrapper">
        <div class="iconik">

        </div>
        <ul>
        <li><a href="">afa aef</a></li>
          <li><a href="">azer azer</a></li>
          <li><a href="">zer azer</a></li>
        </ul>
      </div>
    </div>

  </div>
  {% include footer.html %}

  {% include javascript.html %}

</body>

</html>
